@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwind-scrollbar";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1310px;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Alex Brush", sans-serif;

  --color-primary: #06062a;
  --color-secondary: #151538;
  --color-tertiary: #242445;
  --color-accent: #7f1cfc;
  --color-accent-hover: #6519c6;

  --background-image-singerOverlay: url("/assets/hero/singer-overlay.png");
  --background-image-newsletter: url("/assets/newsletter/bg.png");
}

body {
  @apply bg-primary font-primary text-white;
}

.container {
  @apply px-[15px] mx-auto max-w-327.5;
}

.section {
  @apply py-12 xl:py-24;
}

.pretitle {
  @apply font-secondary text-[42px] text-accent leading-none;
}

.h2 {
  @apply text-[32px] xl:text-[38px] font-semibold leading-tight;
}

.btn {
  @apply w-full flex items-center justify-center rounded-full cursor-pointer font-medium transition-colors duration-300;
}

.btn-sm {
  @apply w-36.5 h-12.5;
}

.btn-lg {
  @apply w-40 h-13.5;
}

.btn-accent {
  @apply text-white bg-accent hover:bg-accent-hover;
}

.btn-white {
  @apply text-primary bg-white hover:bg-white/80;
}

.rap-progress {
  @apply !bg-[#6519c8];
}

.rap-pin {
  @apply !bg-white;
}

.rap-container .rap-slider .rap-progress .rap-pin {
  @apply !size-3.5 !bg-white;
}

.rap-container .rap-slider .rap-progress .rap-pin:hover {
  @apply scale-[1.2] transition-all duration-300;
}

.rap-container {
  @apply !p-0;
}

.rap-container .rap-pp-button svg {
  @apply w-3.5;
}

.rap-container .rap-volume .rap-volume-btn svg {
  @apply w-5.5;
}

.rap-container .rap-pp-button svg path,
.rap-container .rap-volume .rap-volume-btn svg path {
  @apply fill-accent;
}

.rap-current-time,
.rap-total-time {
  @apply font-primary text-[13px] font-medium;
}

.rap-container .rap-slider {
  @apply !bg-[#33335b] !h-0.5;
}

.rap-container .rap-controls span {
  @apply text-[15px];
}

.rap-volume-btn.rap-volume-open svg path {
  @apply fill-white;
}

.rap-volume-controls {
  @apply bg-primary/80;
}

.active {
  @apply border-b-2 border-accent;
}

.album-slider .rap-container .rap-volume .rap-volume-controls {
  @apply !bg-accent;
}

.album-slider .rap-container .rap-slider {
  @apply !bg-primary/40;
}

.album-slider .rap-container .rap-slider .rap-progress {
  @apply !bg-white;
}

.album-slider .rap-container .rap-pp-button svg {
  @apply w-3;
}

.album-slider .rap-container .rap-volume .rap-volume-btn svg {
  @apply w-5;
}

.album-slider .rap-container .rap-pp-button svg path,
.album-slider .rap-container .rap-volume .rap-volume-btn svg path {
  @apply fill-accent;
}

.album-slider .rap-conrainer .rap-controls span {
  @apply !text-sm;
}

.album-player {
  @apply !w-27.5 !min-w-0 text-center;
}

.album-player .rap-controls .rap-slider,
.album-player .rap-controls .rap-total-time {
  @apply hidden;
}

.thumb-slider .swiper-slide-thumb-active {
  @apply border-2 border-accent overflow-hidden transition-all duration-700;
}
